*{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;

}
.body_formulario_titulo_datos{
    background-color:#212529 ;
    display: flex   ;
    justify-content:center;
    gap: 20px;
}
.navegador{
    box-shadow: 5px -3px 8px 10px #888888;
}
.leyenda-contacto{
    background-color: #525355;
    color: white;
    padding: 10px;
    max-width: auto;
}
.formulario_nombre{
    display: grid;
    color: white;
}
.formulario_estadocivil{
    display:grid;
    color: white;
}
.formulario_mail{
    display:grid;
    color: white;
}
.formulario_comentario{
    display:grid;
    color: white;
    margin: 7% 0% -10% 0%;
}
.foto-aside{
    height: 30rem;
    margin-left: auto;
    display:grid;
}
.foto2{
    width: 24%;
    height: 5%;
    margin: 5% 0% 7% 12%;
    border-radius: 0.30em;
    box-shadow: 5px 10px 8px 10px #888888;
}
.foto1{
    width: 30%;
    height: 5%;
    box-shadow: 5px 10px 8px 10px #888888;
    margin: 5% 6% 0% 0%
}
.large{
    width: 136% !important;
    border-radius: 0.20em !important;
}
.direccion{
    left: 24% !important;
}
.ancho-boton{
    width: 73%;
}
.borrar{
    margin-top: 10%
}
.i-insta{
    margin-top: -22%;
    margin: 0% 0% 0% 41%;
}
    
.texto-corte{
    background-color:#212529 ;
    color: white;
}
.foto-index{
    width: 31%;
    box-shadow: 5px 10px 8px 10px #888888;    
}
.foto-mujer{
    width: 38%;
    margin: 0% 0% 0% -7%;
    box-shadow: 5px 10px 8px 10px #888888;
}
.container-1{
    display: flex;
    gap: 8%;
    margin: 0% 19% 0% 9%;
}
.foto-corbata{
    width: 31%;
    margin: 0% 0% 0% -3%;
    
    
    box-shadow: 5px 10px 8px 10px #888888;
}
.container-2{
    display: flex;
    gap: 2%;
    margin: 0% 29% 0% 13%;

}
.container-3{
    display: flex;
    gap: 2%;
    margin: 0% 17% 0% 11%;
}

.container-img{
    gap: 2%;
}
.corbata{
    margin: 20% 2% 5% 0%;
}
.fondo-carrousel{
    background: rgb(255, 255, 255)!important;
}
.fondo{
   background:rgb(255, 255, 255);
}
.texto-corte{
    background:#525355 ;
}
.cuadro-busqueda{
    border: 1px solid black;
}
.descripcion{
    font-size: 20px;

}
.descripcion-2{
    font-size: 20px;
    margin: 0% 0% 0% 7%;
}
.descripcion-3{
    margin: 0% 0% 0% 3%;
    font-size: 20px;
}
.titulo-corbata{
    width: 89%;
}
/* OBRAS */


.item-1{
    background-image: url(http://127.0.0.1:5500/Fotos%20obras/cabeza%20de%20piedra%20negra.jpg);
    background-size: cover;
}

.item-2{
    background-image: url(http://127.0.0.1:5500/Fotos%20obras/pescador.jpg);
    background-size: cover;
}

.item-3{
    background-image: url(http://127.0.0.1:5500/Fotos%20obras/toro.jpg);
    background-size: cover;
    
}
.item-4{
    background-image: url(http://127.0.0.1:5500/Fotos%20obras/corbate%20verde%20sin%20marco.jpg);
    background-size: cover;
}
.tall{
    grid-row: span 2;
}

    
.fotos-galeria{
   width: 100%;
   gap: 5px;
}

.escultura-1{
    width: 25%;
    width: 14%;
}
.estatua{
    width: 25%;
    margin: 0% 0% 0% 25%
}
.toro{
    width: 25%;
}
.pescador{
    width: 25%;
}


.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-color: #efedee;
    border: solid 1px white ;
    
}
.grid-item:hover{
    opacity: 40%;
    transition: 0.5s;
}
.grid-conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) ;
    grid-auto-rows:minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    margin: 0% 20% 0% 20%;
}
@media  (max-width: 768px) {
    .foto-index{
    height: 50%;
    width: 50%;
}
.titulo-obrero{
    display: block;
    
    
}
.descripcion{
    margin: 85% 0% 30% -80%
}
.foto-mujer{
    height: 50%;
    width: 70%;
}
.descripcion-2{
    margin: 108% 0% 5% -98%;
    margin-top: 123%;
}
.titulo-mujer{
    margin-left: 102%;
}
.foto-corbata{
    height: 50%;
    width: 50%;
   
}
.descripcion-3{
    margin:90% 6% 33% -72%;
    margin-left: -85%;
}
.titulo-corbata{
    margin-left: 16%;
}
.grid-conteiner{
    margin-left: 14%;

}

}
/* No CSS *//*# sourceMappingURL=miEstilo.css.map */